<%= link_to 'Back', shops_path, class: "btn btn-primary" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

      </div>
      <div class="panel-body">
        <p><%= @shop.companyname %></p>


        

      </div>
    </div>
  </div>
</div>
